﻿section#container {
    position: relative;
    z-index: 12;
}

.wrap .ctnr {
    float: none;
}

.cbo-sld-mn {
    width: 1024px;
    height: 480px;
    margin-top: 9px;
}

    .cbo-sld-mn .cbo-bnr {
        width: 816px;
        height: 373px;
        overflow: hidden;
    }

        .cbo-sld-mn .cbo-bnr > * {
            opacity: 1;
        }

        .cbo-sld-mn .cbo-bnr a {
            overflow: hidden;
            float: left;
            position: relative;
        }

            .cbo-sld-mn .cbo-bnr a img {
                -webkit-transition: all 500ms ease 0s;
                -o-transition: all 500ms ease 0s;
                transition: all 500ms ease 0s;
            }

        .cbo-sld-mn .cbo-bnr .pagi-sld {
            position: absolute;
            width: 100%;
            height: 50px;
            left: 0;
            bottom: 0;
            z-index: 10;
            display: block;
            text-align: center;
        }

        .cbo-sld-mn .cbo-bnr .item-pagi-sld.atv {
            background: #fff;
        }

.atc-main {
    width: 1024px;
}

    .atc-main .atc-lft {
        width: 808px;
        float: left;
    }

.cbo-hp {
    clear: both;
}

    .cbo-hp .cbo-hp-head {
        height: 48px;
        margin-bottom: 22px;
        position: relative;
    }

        .cbo-hp .cbo-hp-head .hp-img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            display: block;
            height: 47px;
            width: 47px;
            border: 1px solid #00a651;
            background-color: #00a651;
            float: left;
            overflow: hidden;
            position: relative;
        }

            .cbo-hp .cbo-hp-head .hp-img img {
                position: relative;
                -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                top: 50%;
                left: 50%;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                display: block;
                max-height: 48px;
                max-width: 48px;
            }

        .cbo-hp .cbo-hp-head .hp-ttl {
            color: #00a651;
            font-size: 22px;
            line-height: 48px;
            float: left;
            background: #fff;
            display: block;
            position: relative;
            z-index: 5;
            padding-right: 15px;
            padding-left: 10px;
        }

        .cbo-hp .cbo-hp-head .hp-mre {
            color: #00a651;
            display: block;
            font-size: 13px;
            line-height: 48px;
            float: right;
            background: #fff;
            position: relative;
            z-index: 5;
            padding-left: 10px;
            -webkit-transition: all 500ms ease 0s;
            -o-transition: all 500ms ease 0s;
            transition: all 500ms ease 0s;
        }

            .cbo-hp .cbo-hp-head .hp-mre .fa {
                margin-left: 3px;
            }

.fa-angle-right:before {
    content: "\f105";
}

.mxClrAft:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}

.mxClrAft:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}


.cbo-hp .cbo-hp-cnt {
    clear: both;
    min-height: 286px;
}

.cat-hp .lft-cat-hp {
    margin-bottom: 15px;
    float: left;
    width: 160px;
    border: 1px solid #dfdfdf;
}

.cat-hp .rht-cat-hp {
    width: 640px;
    float: right;
}

.b1 {
    width: 640px;
}

    .b1 .b2 {
        float: left;
        position: relative;
        box-sizing: border-box;
        width: 160px;
        /*border: 1px solid #fff;*/
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        margin-bottom: 10px;
    }

        .b1 .b2 .b3 {
            margin: 5px;
            width: 148px;
            height: 148px;
            display: block;
            position: relative;
            overflow: hidden;
        }

            .b1 .b2 .b3 img {
                -webkit-transition: all 500ms ease 0s;
                -o-transition: all 500ms ease 0s;
                transition: all 500ms ease 0s;
                width: 148px;
                height: 148px;
                display: block;
            }

.rib {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}

.b1 .b2 .b4 {
    display: block;
    margin: 0 12px;
}

    .b1 .b2 .b4 .b5, .b1 .b2 .b4 .b6 {
        display: block;
        text-align: center;
        font-size: 13px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
        height: 22px;
        width: 100%;
    }


    .b1 .b2 .b4 .b7 {
        height: 35px;
        display: block;
        text-align: center;
        font-size: 18px;
        color: #333;
        margin-top: 3px;
        margin-bottom: 1px;
    }

sup[itemprop="priceCurrency"] u {
    text-decoration: none;
}

.b1 .b2 .b4 .old {
    font-size: 12px;
    line-height: 19px;
    height: 19px;
    color: #999;
    display: block;
    text-align: center;
    text-decoration: line-through;
}

.mxClrAft:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}

.mxClrAft:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}

.atc-main .atc-rht {
    width: 202px;
    float: right;
}

div.b2:hover {
    border: 1px solid #00a651;
}

div.b8 {
    display: none;
    width: 158px;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    opacity: 0.6;
    height: 30px;
    cursor: pointer;
}

div.b2:hover .b8 {
    display: block;
    border: 1px solid grey;
}

div.ba {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    /*vertical-align: top;*/
    /*display: inline-block;*/
    color: #ccc;
    height: 30px;
    font-size: 15px;
    line-height: 12px;
    border-right: 1px solid #ccc;
    text-align: center;
    opacity: 0.6;
}

/*.carousel {
    position: relative;
    margin-bottom: 60px;
    line-height: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .item {
    max-width: 100%;
    max-height: 100%;
}

.carousel .contented {
    position: relative;
    z-index: 9;
}

.contented:before, .contented:after {
    display: table;
    line-height: 0;
    content: "";
}


.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

    .carousel-control.right {
        right: 15px;
        left: auto;
    }*/

.sld {
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 1;
    perspective: 1000px;
    backface-visibility: hidden;
    width: 816px;
    height: 373px;
}
.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 0;
    margin-top: 14%;
}
.carousel-control.right {
    right: 0;
    left: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.topAll{
    float: right;
    right: 0;
    position: fixed;
    width: 800px;
    z-index: 99999;
    margin-top: 15px;
    display: block;
    border: solid 1px green;
    height: 100%;
    top: 50px;
    background: white;
}