﻿.fx-top {
    padding-top: 60px;
    position: relative;
    z-index: 30;
}

.ctnr {
    width: 90%;
    float: right;
}

.cbo-sld-head {
    width: 1024px;
    height: 30px;
    padding-top: 3px;
    border-bottom: 1px solid #e1e1e1;
}

.mn-nav {
    width: auto;
    height: 42px;
    /*margin-top: 5px;*/
    float: left;
    z-index: 30;
    position: relative;
    z-index: 10;
}

.mn-nav {
    width: 0;
    height: 47px;
    float: left;
    position: relative;
    z-index: 10;
}



.nav-head {
    position: relative;
    background: #f6f6f6;
    /*z-index: 0;*/
    display: block;
    cursor: pointer;
    width: 224px;
    height: 41px;
    font-size: 15px;
    line-height: 42px;
    padding: 0 17px 0 13px;
    color: #000;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}

.mn-nav .nav-head .fa {
    margin-right: 5px;
}


.fa-align-left:before {
    content: "\f036";
    padding-right: 10px;
}




.home-page .mn-lv-1 {
    background: #f6f6f6;
    width: 195px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

    .home-page .mn-lv-1 .li-lv-1 {
        width: 185px;
        height: 35px;
    }

.mn-lv-1 .li-lv-1 {
    display: block;
    width: 224px;
    height: 36px;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

ul li {
    line-height: normal;
}


.mn-lv-1 .li-lv-1 a {
    padding-left: 10px;
}

.mn-lv-1 .li-lv-1 > a {
    padding: 0 8px;
    position: relative;
    display: block;
    z-index: 10;
}

    .mn-lv-1 .li-lv-1 > a .vl.has-number {
        max-width: 170px;
    }

    .mn-lv-1 .li-lv-1 > a .vl {
        display: inline-block;
        font-size: 13px;
        line-height: 36px;
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
    }


    .mn-lv-1 .li-lv-1 > a .dtl-mn {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        height: 17px;
        line-height: 17px;
        background: #d92727;
        color: #fff;
        font-size: 11px;
        font-family: 'Roboto-Bold';
        padding: 0 5px;
        font-weight: bold;
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
    }

    .mn-lv-1 .li-lv-1 > a span {
        position: relative;
        z-index: 10;
    }


    .mn-lv-1 .li-lv-1 > a span {
        position: relative;
        z-index: 10;
    }

    .mn-lv-1 .li-lv-1 > a .exp {
        color: #666;
        float: right;
        height: 36px;
        line-height: 36px;
        margin-right: 5px;
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
    }

    .mn-lv-1 .li-lv-1 > a span {
        position: relative;
        z-index: 10;
    }

.fa-angle-right:before {
    content: "\f105";
}

.mn-lv-1 .li-lv-1 > a:after {
    -webkit-transition: all 500ms cubic-bezier(0.25,.1,0,.99) 0;
    -o-transition: all 500ms cubic-bezier(0.25,.1,0,.99) 0;
    transition: all 500ms cubic-bezier(0.25,.1,0,.99) 0;
    background: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 0;
    content: " ";
}

.ctnr:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}

.wrap:after {
    display: block;
    width: 0;
    height: 0;
    content: " ";
    visibility: hidden;
    clear: both;
}

.mn-nav .nav-ctnt {
    margin-left: -603px;
    visibility: visible;
    opacity: 1;
    border-top: 0;
    box-shadow: none;
    -moz-border-radius: 0 0 5px 5px;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    display: block;
    position: absolute;
    padding: 0;
    left: 0;
    margin: 0;
    width: 224px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    background: #f6f6f6;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.mn-lv-1 .li-lv-1 .sub-main-nav {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 465px;
    height: 465px;
    background-color: #fff;
    background-position: bottom right;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 2px 2px 8px rgba(0,0,0,.25);
    position: absolute;
    top: -38px;
    left: 224px;
    display: none;
    z-index: 100;
}

.mn-lv-1 .li-lv-1:hover .sub-main-nav {
    display: block;
    left: 224px;
    z-index: 100;
}

.mn-lv-1 .li-lv-1 .sub-main-nav:hover {
    display: block;
    z-index: 100;
}

.mn-lv-1 .li-lv-1 a {
    padding-left: 10px;
}

.cbo-sld-head .rht {
    margin-right: 12px;
}

.rht {
    float: right;
}

.cbo-sld-head .sldh-txt .fa {
    margin-right: 5px;
}

.cbo-sld-head .sldh-txt.hl {
    font-size: 15px;
    margin-right: 15px;
}

.cbo-sld-head .sldh-txt.evl {
    font-size: 15px;
    margin-right: 15px;
}

.cbo-sld-head .sldh-txt:last-child {
    margin-right: 0;
}


.cbo-sld-head .sldh-txt.evl {
    font-size: 15px;
    margin-right: 15px;
}

.cbo-sld-head .sldh-txt:last-child {
    margin-right: 0;
}

.mn-lv-1 .li-lv-1 .sub-main-nav .z2 li a {
    -o-transition: all 500ms ease 0s;
    display: block;
    line-height: 28px;
    font-size: 13px;
}


.mn-lv-1 .li-lv-1 .sub-main-nav .z1 {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-family: Roboto-Light;
    display: block;
    margin-left: 20px;
    color: #333;
}
