﻿<div class="module-home-list-product">

    <div class="list-type-item">
        <h3 class="rs type-title">Mặt hàng ưa chuộng</h3>
        <div class="list-product clearfix">
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Coca-Cola-Light-330ml-x-24-lon/1743.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170531103712_coca_cola_light_330ml_dose.jpg?v=2" alt="Coca-Cola Light 330ml x 24 lon"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Coca-Cola-Light-330ml-x-24-lon/1743.html"><b>Coca-Cola Light 330ml x 24 lon</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Coca-Cola</a>
                </p>
                <p class="rs product-price"><span class="fw-b">247.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/Coca-Cola-Light-330ml-x-24-lon/1743.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Promes-Semi-skimmed-milk-1L/1619.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170322160441_20151204102730_promes_it_beo_min.jpg?v=2" alt="Promes Semi-skimmed milk (1L)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Promes-Semi-skimmed-milk-1L/1619.html"><b>Promes Semi-skimmed milk (1L)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Promess</a>
                </p>
                <p class="rs product-price"><span class="fw-b">36.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1619, 36000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/Promes-Semi-skimmed-milk-1L/1619.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/smoked-garlic-sausage-200g/478.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170429070545_dsc_0323_450x600.jpg?v=2" alt="Smoked Garlic Sausage (200g)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/smoked-garlic-sausage-200g/478.html"><b>Smoked Garlic Sausage (200g)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>LeGourmet</a>
                </p>
                <p class="rs product-price"><span class="fw-b">45.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(478, 45000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/smoked-garlic-sausage-200g/478.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/heineken-beer-330ml-24-cans/262.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170424104447_20131016155022_1_heineken_330ml_24cn.jpg?v=2" alt="Heineken Beer (330ml x 24 cans)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/heineken-beer-330ml-24-cans/262.html"><b>Heineken Beer (330ml x 24 cans)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Heineken</a>
                </p>
                <p class="rs product-price"><span class="fw-b">417.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(262, 417000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/heineken-beer-330ml-24-cans/262.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="clear"></div>
        </div>
        <div class="see-more"><a abc="/filter_list.html">Xem thêm hàng ưa chuộng</a></div>
    </div><!--end: .list-type-item -->
    <div class="list-type-item">
        <h3 class="rs type-title">Mặt hàng mới</h3>
        <div class="list-product clearfix">
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Knhoo-can-opener-19.5cm/2696.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170503101013_1490605408265_7781065.jpg?v=2" alt="Kinhoo can opener 19.5cm"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Knhoo-can-opener-19.5cm/2696.html"><b>Kinhoo can opener 19.5cm</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Kinhoo</a>
                </p>
                <p class="rs product-price"><span class="fw-b">210.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(2696, 210000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/Knhoo-can-opener-19.5cm/2696.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Vfresh-Tomato-Juice-1l/2695.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170429070404_vfresh_tomato_juice_1l_wholesale_jui.jpg?v=2" alt="Vfresh Tomato Juice (1l)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Vfresh-Tomato-Juice-1l/2695.html"><b>Vfresh Tomato Juice (1l)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Vfresh</a>
                </p>
                <p class="rs product-price"><span class="fw-b">62.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(2695, 62000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/Vfresh-Tomato-Juice-1l/2695.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Thien-Long-Ball-Pen-3-pen/2693.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170429070424_52_but_tl_034.jpg?v=2" alt="Thien Long Ball Pen (3 pen)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Thien-Long-Ball-Pen-3-pen/2693.html"><b>Thien Long Ball Pen (3 pen)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Thien Long</a>
                </p>
                <p class="rs product-price"><span class="fw-b">11.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(2693, 11000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/Thien-Long-Ball-Pen-3-pen/2693.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Similac-Advance-1/2691.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170315112550_similac_target_del.jpg?v=2" alt="Similac Advance 1"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Similac-Advance-1/2691.html"><b>Similac Advance 1</b> (658g)</a>
                </p>
                <p class="rs cate-name">
                    <a>Similac </a>
                </p>
                <p class="rs product-price"><span class="fw-b">623.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(2691, 623000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/Similac-Advance-1/2691.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="clear"></div>
        </div>
        <div class="see-more"><a abc="/filter_list.html&amp;type=1">Xem thêm mặt hàng mới</a></div>
    </div><!--end: .list-type-item -->
    <div class="list-type-item">
        <h3 class="rs type-title">Mặt hàng giảm giá</h3>
        <div class="list-product clearfix">
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/emborg-skimmed-milk-1l/248.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150227121318_emborg_skimmed_milk_1_litre.jpg?v=2" alt="Emborg Skimmed Milk 0.3% (1l)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/emborg-skimmed-milk-1l/248.html"><b>Emborg Skimmed Milk 0.3% (1l)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Emborg</a>
                </p>
                <p class="rs product-price"><span class="fw-b">47.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(248, 47000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/emborg-skimmed-milk-1l/248.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Coca-Cola-Sleek-330ml-x-24-cans/1285.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150618141537_coca_cola.jpg?v=2" alt="Coca Cola Sleek (330ml x 24 cans)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Coca-Cola-Sleek-330ml-x-24-cans/1285.html"><b>Coca Cola Sleek (330ml x 24 cans)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Coca-Cola</a>
                </p>
                <p class="rs product-price"><span class="fw-b">223.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1285, 223000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--    <a class="btn" abc="/detail/Coca-Cola-Sleek-330ml-x-24-cans/1285.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/smoked-garlic-sausage-200g/478.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170429070545_dsc_0323_450x600.jpg?v=2" alt="Smoked Garlic Sausage (200g)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/smoked-garlic-sausage-200g/478.html"><b>Smoked Garlic Sausage (200g)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>LeGourmet</a>
                </p>
                <p class="rs product-price"><span class="fw-b">45.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(478, 45000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--   <a class="btn" abc="/detail/smoked-garlic-sausage-200g/478.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/sting-red-strawberry-330ml-24-cans/252.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20131018093445_13_sting_dau_330ml_24chai_jpg.jpg?v=2" alt="Sting Red Strawberry (330ml x 24 bottles)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/sting-red-strawberry-330ml-24-cans/252.html"><b>Sting Red Strawberry (330ml x 24 bottles)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a>Sting</a>
                </p>
                <p class="rs product-price"><span class="fw-b">220.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    <!--<a class="btn" abc="/detail/sting-red-strawberry-330ml-24-cans/252.html">See details</a>-->
                </p>
            </div><!--end: .product-item -->
            <div class="clear"></div>
        </div>
        <div class="see-more"><a abc="/filter_list.html&amp;type=2">Xem thêm hàng giảm giá</a></div>
    </div><!--end: .list-type-item -->
</div>

<style>
    .see-more {
        display: block;
        /* float: right; */
        text-align: right;
        margin-bottom: 20px;
        clear: both;
        overflow: hidden;
        font-size: 1.15em;
        /*font-weight: bold;*/
        border-bottom: grey 1px dashed;
    }
</style>