﻿<div class="usr-ifo-head">
    <div class="usr-ifo-ttl"> Đăng nhập <!-- Sau khi đăng nhập thì đổi thành tên user --> </div>
    <div class="usr-ifo-sub"> Tài khoản &amp; Đăng ký </div>
    <div class="usr-ifo-ico fa fa-user"></div>
    <div class="usr-ifo-caret fa fa-caret-down"></div>
</div> <!-- usr-ifo-head -->
<div class="usr-ifo-lst new-menu-acc">
    <a id="logInButton"  class="new-button-m button-login orange"> <span class="fa fa-sign-in"></span> Đăng nhập </a>
    <a  class="new-button-m button-login-facebook dark-blue "> <span class="fa fa-facebook-square"></span> Đăng nhập Facebook </a>
    <a  class="new-button-m button-login-google dark-brown"> <span class="fa fa-google-plus"></span> Đăng nhập Google </a>
    <div class="row-text-register">
        <a id="registerButton" href="#" class="new-link">Đăng ký tài khoản</a>
    </div> <a href="javascript:void(0);" class="new-link gray link-check-order"> <span class="fa fa-map-marker"></span> Kiểm tra đơn hàng </a>
</div> 

