﻿
<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
     alt="">
<div class="form-signin">
    <input type="text" class="form-control" placeholder="Email" autofocus>
    <input type="password" class="form-control" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block" type="button" id="btnLogInClick" style="max-width: 315px;">
        Sign in
    </button>
    <label class="checkbox pull-left">
        <input type="checkbox" value="remember-me">
        Remember me
    </label>
</div>
<a id="backToRegisterButton" class="text-center new-account">Create an account </a>



<style>
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
            padding-left: 20px;
        }

        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="text"] {
            margin-bottom: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .account-wall {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 380px;
        padding: 20px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .login-title {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        display: block;
    }

    .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .need-help {
        margin-top: 10px;
    }

    .new-account {
        display: inline-block;
        float: right;
        cursor: pointer;
        /*margin-top: 10px;*/
    }

    div.k-window-content {
        overflow: hidden;
    }

    input, button, submit {
        border: none;
    }
    #btnLogInClick {
        max-width: 315px;
    }
</style>