﻿<div class="module-product">
    <div class="top-detail clearfix">
        <div class="left-detail">
            <div class="wrap-left-detail">
                <h2 class="rs">
                    South Africa gold red pear (1kg)
                </h2>
                <p class="product-cate rs">
                    Southern Africa
                    <!--<a href="#">Vinamilk</a>-->
                </p>
                <!--<div class="product-rating clearfix">
                    <span class="wrap-star">
                        <i class="icon iStarB"></i>
                        <i class="icon iStarB"></i>
                        <i class="icon iStarB"></i>
                        <i class="icon iStarB"></i>
                        <i class="icon iStarB"></i>
                    </span>
                    <span class="count-number">(<a href="#" class="fc-green">12 ratings</a>)</span>
                    <span class="clear"></span>
                </div>-->
                <div class="product-desc">

                </div>
                <div class="wrap-dock-bottom">
                    <div class="select-number-product">
                        <label>
                            <input type="text" class="product-number" value="1" id="product_number">
                        </label>
                        <span class="product-price">x <span class="fw-b">87.000</span> VND</span>
                    </div>
                    <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;" style="width: 100%; height: 50px;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                </div>
            </div>
        </div><!--end: .left-detail-->
        <div class="right-slide">
            <div class="wrap-slide">
                <div class="top-view" id="sys_top_view_slide">
                    <img src="https://eat.vcmedia.vn/thumb/400_250/img_upload/product/20160317151646_le.jpg"  style="background:url('https://eat.vcmedia.vn/thumb/400_250/img_upload/product/20160317151646_le.jpg') center no-repeat;">
                </div>
                <div class="bottom-thumb" id="sys_bottom_thumb_slide">
                    <div class="flexslider carousel">

                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                            <ul class="slides" style="width: 200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                <li style="width: 90px; float: left; display: block;">
                                    <img src="https://eat.vcmedia.vn/thumb/400_250/img_upload/product/20160317151646_le.jpg"  data-big-img="https://eat.vcmedia.vn/thumb/400_250/img_upload/product/20160317151646_le.jpg" style="background: url('https://eat.vcmedia.vn/thumb/90_55/img_upload/product/20160317151646_le.jpg') center no-repeat; width: 90px; height: 55px;" draggable="false">
                                </li>
                            </ul>
                        </div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="similar-product" style="padding-top: 30px;">
        <h3 class="title-similar rs">Sản phẩm cùng mục</h3>
        <div class="wrap-similar-product clearfix">
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Ligo-seedless-raisins-250g/1921.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160609105926_untitled_1_77.jpg?v=2" alt="Ligo seedless raisins (250g)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Ligo-seedless-raisins-250g/1921.html"><b>Ligo seedless raisins (250g)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a href="#">Ligo</a>
                </p>
                <p class="rs product-price"><span class="fw-b">92.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Pitted-Walnuts-500g/1229.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150205142950_walnuts_are_drugs.jpg?v=2" alt="Pitted Walnuts (500g)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Pitted-Walnuts-500g/1229.html"><b>Pitted Walnuts (500g)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a href="#">Singapore</a>
                </p>
                <p class="rs product-price"><span class="fw-b">262.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Non-Pitted-Walnuts-500g/1228.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150205142334_0efa260340dac6fe.jpg?v=2" alt="Non Pitted Walnuts (500g)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Non-Pitted-Walnuts-500g/1228.html"><b>Non Pitted Walnuts (500g)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a href="#">Singapore</a>
                </p>
                <p class="rs product-price"><span class="fw-b">178.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                </p>
            </div><!--end: .product-item -->
            <div class="product-item">
                <div class="thumb-product">
                    <div class="wrap-cell-center">
                        <div class="wrap-img-thumb">
                            <span class="ver_hold"></span>
                            <a abc="/detail/Honey-Pomelo/844.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140812135832_2012_07_25_10_05_26_41.jpg?v=2" alt="Honey Pomelo (1kg)"></a>
                        </div>
                    </div>
                    <!--<div class="product-rate">
                        <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                    </div>-->
                </div>
                <p class="rs product-name">
                    <a abc="/detail/Honey-Pomelo/844.html"><b>Honey Pomelo (1kg)</b> </a>
                </p>
                <p class="rs cate-name">
                    <a href="#">Vietnam</a>
                </p>
                <p class="rs product-price"><span class="fw-b">75.000</span> VND</p>
                <p class="rs bottom-action clearfix">
                    <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                </p>
            </div><!--end: .product-item -->
            <div class="clear"></div>
        </div>
    </div>
</div>

<style>
    .left-detail {
        float: left;
        width: 43.66197183098592%;
        min-height: 260px;
        padding-bottom: 100px;
        position: relative;
    }

    .wrap-left-detail {
        padding-right: 10px;
    }

    .top-detail .product-name {
        font-size: 2.5em;
        line-height: 1.2em;
        font-weight: normal;
        padding-bottom: 8px;
    }

    .top-detail .product-cate {
        font-size: 1.166666666666667em;
        line-height: 1em;
        padding-bottom: 15px;
    }

    .top-detail .product-desc {
        padding-bottom: 5px;
    }

    .module-product .wrap-dock-bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .top-detail .select-number-product {
        padding-bottom: 15px;
        text-align: center;
    }

        .top-detail .select-number-product .product-number {
            background: #efefef;
            border: 1px solid #ebe7e7;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 1.333333333333333em;
            margin-right: 15px;
            display: inline-block;
        }

        .top-detail .select-number-product .product-price {
            font-size: 1.33333333333333em;
            line-height: 1em;
            vertical-align: -3px;
        }

    .btn-add-to-cart {
        display: block;
        font-size: 1.666666666666667em;
        line-height: 1em;
        padding: 16px 0;
    }

    .right-slide {
        float: right;
        width: 50%;
    }
</style>