﻿<div class="module-category">
<div class="top-title clearfix">
    <h3 class="rs title-cate">
       Trái cây &amp; rau củ
    </h3>
    <div class="sort-by">
        <span class="lbl">Sort by:</span>
        <a href="/fruit-vegetables/sort/brand" class="fw-b">Brand</a>
        <span class="sep">|</span>
        <a href="/fruit-vegetables/sort/name">Product name</a>
        <span class="sep">|</span>
        <a href="/fruit-vegetables/sort/price">Price</a>
    </div>
    <div class="wrap-select">
        <label class="common-select">
            <span class="show-val">
                <span>
                    -- Sort by --
                </span>
                <i class="icon iPickD"></i>
            </span>
            <select id="sys_select_sort">
                <option value="0">-- Sort by --</option>
                <option value="0" data-href="/fruit-vegetables/sort/brand">Brand</option>
                <option value="0" data-href="/fruit-vegetables/sort/name">Product name</option>
                <option value="0" data-href="/fruit-vegetables/sort/price">Price</option>
            </select>
        </label>
    </div>
</div>
<div class="main-content">
<div class="filter-item" style="top: 61px; background: rgb(255, 255, 255); z-index: 10;">
    <span class="lbl">Filter by: </span>
    <a href="/vegetables">Vegetables</a>
    <span class="sep">|</span>
    <a href="/fruit">Fruit</a>
</div>
<div class="wrap-list-product">
<input type="hidden" id="anchor_index" value="0">
<input type="hidden" id="is_next" value="0">
<input type="hidden" id="referer_url" value="dmkvcmF1LWN1LXRyYWktY2F5">
<div class="list-product clearfix" id="list_items">
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/South-Africa-gold-red-pear-1kg/1791.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160317151646_le.jpg?v=2" alt="South Africa gold red pear (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/South-Africa-gold-red-pear-1kg/1791.html"><b>South Africa gold red pear (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#"> Southern Africa</a>
    </p>
    <p class="rs product-price"><span class="fw-b">87.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Grapes-Australia-1kg/1745.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160225131812_nho___en_kh__ng_h___t_m___.jpg?v=2" alt="Grapes Australia (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Grapes-Australia-1kg/1745.html"><b>Grapes Australia (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Australia</a>
    </p>
    <p class="rs product-price"><span class="fw-b">195.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Chilean-Red-Globe-grapes-1kg/1901.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160527104950_p1394607748_imag__.jpeg?v=2" alt="Chilean Red Globe grapes (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Chilean-Red-Globe-grapes-1kg/1901.html"><b>Chilean Red Globe grapes (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Chile</a>
    </p>
    <p class="rs product-price"><span class="fw-b">138.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Garlic-700g/1280.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150526153407_hn__1__efmm.jpeg?v=2" alt="Garlic (700g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Garlic-700g/1280.html"><b>Garlic (700g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">China</a>
    </p>
    <p class="rs product-price"><span class="fw-b">107.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Bell-Pepper-1kg/846.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140812141738_606.jpg?v=2" alt="Bell Pepper (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Bell-Pepper-1kg/846.html"><b>Bell Pepper (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">34.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Carol-1kg/847.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140812142546_saladgion_13623627014897.jpg?v=2" alt="Carol (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Carol-1kg/847.html"><b>Carol (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">38.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Carrot/1226.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150204171902_ca_rot_8_15411.jpg?v=2" alt="Carrot- Grade 1 (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Carrot/1226.html"><b>Carrot- Grade 1 (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">38.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/celery/1227.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150204171842_d__1__hlpl.png?v=2" alt="Celery (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/celery/1227.html"><b>Celery (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">42.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Onions-1kg/1281.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150526154422_gia_hanh_tay_da_lat_xuong_thap_o_muc.jpg?v=2" alt="Onions (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Onions-1kg/1281.html"><b>Onions (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">36.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Red-Bell-Pepper-1kg/1315.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150730155652_ot__11__qpii.jpg?v=2" alt="Red Bell Pepper (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Red-Bell-Pepper-1kg/1315.html"><b>Red Bell Pepper (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">48.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dalat-passion-fruit-1kg/1613.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151120102449_chanh_day.jpg?v=2" alt="Dalat passion fruit (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dalat-passion-fruit-1kg/1613.html"><b>Dalat passion fruit (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">38.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dalat-white-cabbage-1,5kg/1638.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151204125316_bap_cai_trang.jpg?v=2" alt="Dalat white cabbage (1,5kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dalat-white-cabbage-1,5kg/1638.html"><b>Dalat white cabbage (1,5kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">14.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dalat-potato/1641.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151204130124_khoai_tay_da_lat.jpg?v=2" alt="Dalat potato"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dalat-potato/1641.html"><b>Dalat potato</b> (1kg)</a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">24.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dalat-carrots-1kg/1879.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160428102315_ca_rot_da_lat_loai_1kg.jpg?v=2" alt="Dalat carrots (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dalat-carrots-1kg/1879.html"><b>Dalat carrots (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">15.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dalat-cabbage-1kg/1896.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160527103224_1335411836_caithao.jpg?v=2" alt="Dalat cabbage (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dalat-cabbage-1kg/1896.html"><b>Dalat cabbage (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dalat</a>
    </p>
    <p class="rs product-price"><span class="fw-b">20.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dong-Du-Pickled-Mustard-Greens-500g/1884.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160428104337_dua_cai_be_muoi_vang.jpg?v=2" alt="Dong Du Pickled Mustard Greens (500g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dong-Du-Pickled-Mustard-Greens-500g/1884.html"><b>Dong Du Pickled Mustard Greens (500g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dong Du</a>
    </p>
    <p class="rs product-price"><span class="fw-b">30.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dong-Du-kimchi-500g/1885.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160428104946_kim_chi_man_dong_du_500gr300.png?v=2" alt="Dong Du kimchi (500g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dong-Du-kimchi-500g/1885.html"><b>Dong Du kimchi (500g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Dong Du</a>
    </p>
    <p class="rs product-price"><span class="fw-b">29.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Early-Down-Green-Peas-2kg/1337.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150817150020_capture.png?v=2" alt="Early Down Green Peas (2kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Early-Down-Green-Peas-2kg/1337.html"><b>Early Down Green Peas (2kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Early Down</a>
    </p>
    <p class="rs product-price"><span class="fw-b">156.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/USA-Gala-Apple-Grade-1-1kg/523.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20131121105537_403_tao_gala_loai_1.jpg?v=2" alt="USA Gala Apple Grade 1 (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/USA-Gala-Apple-Grade-1-1kg/523.html"><b>USA Gala Apple Grade 1 (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Gala</a>
    </p>
    <p class="rs product-price"><span class="fw-b">84.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Newzealand-Gala-Apple-1kg/863.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140825165424_625902179991.jpg?v=2" alt="New Zealand Gala Apple (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Newzealand-Gala-Apple-1kg/863.html"><b>New Zealand Gala Apple (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Gala</a>
    </p>
    <p class="rs product-price"><span class="fw-b">60.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Horeca-select-parsley-100g/1880.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160428102853_14_13_45_792_parsley_curly_medium_.jpg?v=2" alt="Horeca select parsley (100g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Horeca-select-parsley-100g/1880.html"><b>Horeca select parsley (100g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">H. Select</a>
    </p>
    <p class="rs product-price"><span class="fw-b">18.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Hoa-Loc-Mango-1kg/862.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140825165143_0027172_1.jpg?v=2" alt="Hòa Lộc Mango (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Hoa-Loc-Mango-1kg/862.html"><b>Hòa Lộc Mango (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Hòa Lộc</a>
    </p>
    <p class="rs product-price"><span class="fw-b">60.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Cucumber-Baby-500g/1317.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150805132209_13.jpg?v=2" alt="Cucumber Baby (500g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Cucumber-Baby-500g/1317.html"><b>Cucumber Baby (500g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Horeca</a>
    </p>
    <p class="rs product-price"><span class="fw-b">20.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Pitted-Walnuts-1.3kg/1233.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150304150904_1035207oc_cho_my_01.jpg?v=2" alt="Pitted Walnuts (1.3kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Pitted-Walnuts-1.3kg/1233.html"><b>Pitted Walnuts (1.3kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Kirkland</a>
    </p>
    <p class="rs product-price"><span class="fw-b">702.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Enoki-Mushroom-150g/904.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20141003165522_enoki_mushrooms.jpg?v=2" alt="Enoki Mushroom (150g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Enoki-Mushroom-150g/904.html"><b>Enoki Mushroom (150g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Korea</a>
    </p>
    <p class="rs product-price"><span class="fw-b">20.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Korea-Brown-Pear-1kg/1490.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151024100916_le_nau_han_quoc.jpg?v=2" alt="Korea Brown Pear (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Korea-Brown-Pear-1kg/1490.html"><b>Korea Brown Pear (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Korea</a>
    </p>
    <p class="rs product-price"><span class="fw-b">83.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Ligo-seedless-raisins-250g/1921.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160609105926_untitled_1_77.jpg?v=2" alt="Ligo seedless raisins (250g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Ligo-seedless-raisins-250g/1921.html"><b>Ligo seedless raisins (250g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Ligo</a>
    </p>
    <p class="rs product-price"><span class="fw-b">92.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dried-mushroom-200g/1588.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151119153245_nam_dong_co_kho.jpg?v=2" alt="Dried mushroom 200g"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dried-mushroom-200g/1588.html"><b>Dried mushroom 200g</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#"></a>
    </p>
    <p class="rs product-price"><span class="fw-b">106.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->

<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Navel-orange-1kg/1770.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160303122821_uploads_2014_12_orange_cv_1024x653.jpg?v=2" alt="Navel orange 1kg"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Navel-orange-1kg/1770.html"><b>Navel orange 1kg</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Navel</a>
    </p>
    <p class="rs product-price"><span class="fw-b">114.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Apples-Newzealand-1kg/1953.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160624105822_700_x_520_tao_xanh_my_1.jpg?v=2" alt="Apples - Newzealand  (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Apples-Newzealand-1kg/1953.html"><b>Apples - Newzealand  (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Newzealand</a>
    </p>
    <p class="rs product-price"><span class="fw-b">92.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Red-Apple-1kg/893.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20141003161101_red_delicious_apple.jpg?v=2" alt="Red Apple US (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Red-Apple-1kg/893.html"><b>Red Apple US (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Red Delicious</a>
    </p>
    <p class="rs product-price"><span class="fw-b">72.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Non-Pitted-Walnuts-500g/1228.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150205142334_0efa260340dac6fe.jpg?v=2" alt="Non Pitted Walnuts (500g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Non-Pitted-Walnuts-500g/1228.html"><b>Non Pitted Walnuts (500g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Singapore</a>
    </p>
    <p class="rs product-price"><span class="fw-b">178.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Pitted-Walnuts-500g/1229.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150205142950_walnuts_are_drugs.jpg?v=2" alt="Pitted Walnuts (500g)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Pitted-Walnuts-500g/1229.html"><b>Pitted Walnuts (500g)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Singapore</a>
    </p>
    <p class="rs product-price"><span class="fw-b">262.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Southern-Africa-Grapes1kg/1746.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160225132111_nam_phi.jpg?v=2" alt="Southern Africa Grapes (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Southern-Africa-Grapes1kg/1746.html"><b>Southern Africa Grapes (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">South Africa</a>
    </p>
    <p class="rs product-price"><span class="fw-b">149.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Taiwan-Guava-1kg/1614.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160331100504_oi.jpg?v=2" alt="Taiwan Guava 1kg"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Taiwan-Guava-1kg/1614.html"><b>Taiwan Guava 1kg</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Taiwan</a>
    </p>
    <p class="rs product-price"><span class="fw-b">11.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Thailand-Eggplant-1kg/1900.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160527104259_tac_dung_chua_benh_cua_ca_tim_248144.jpg?v=2" alt="Thai Eggplant (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Thailand-Eggplant-1kg/1900.html"><b>Thai Eggplant (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Thailand</a>
    </p>
    <p class="rs product-price"><span class="fw-b">13.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Yellow-Lemon/1521.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151102085348_chanh_vang.jpg?v=2" alt="America Yellow Lemon"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Yellow-Lemon/1521.html"><b>America Yellow Lemon</b> (1kg)</a>
    </p>
    <p class="rs cate-name">
        <a href="#">USA</a>
    </p>
    <p class="rs product-price"><span class="fw-b">151.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Honey-Pomelo/844.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140812135832_2012_07_25_10_05_26_41.jpg?v=2" alt="Honey Pomelo (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Honey-Pomelo/844.html"><b>Honey Pomelo (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">75.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Pumpkin-2.5kg/1282.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150526154808_bi_ngo_d651c.jpg?v=2" alt="Pumpkin (2.5kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Pumpkin-2.5kg/1282.html"><b>Pumpkin (2.5kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">45.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Green-Mango-1kg/1353.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150827121219_loi_ich_cua_xoai_xanh.jpg?v=2" alt="Green Mango (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Green-Mango-1kg/1353.html"><b>Green Mango (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">68.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Seedless-Lemon-grade-1/1518.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151102084316_chanh_khong_hat.jpg?v=2" alt="Seedless Lime - grade 1"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Seedless-Lemon-grade-1/1518.html"><b>Seedless Lime - grade 1</b> (1kg)</a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">27.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Seedless-Lime-grade-2/1519.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151102084454_chanh_khong_hat.jpg?v=2" alt="Seedless Lime - grade 2"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Seedless-Lime-grade-2/1519.html"><b>Seedless Lime - grade 2</b> (1kg)</a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">31.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Green-Skin-Grapefruit-type-1-1kg/1905.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160527111310_buoi_da_xanh.jpg?v=2" alt="Green Skin Grapefruit  type 1 (1.3kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Green-Skin-Grapefruit-type-1-1kg/1905.html"><b>Green Skin Grapefruit  type 1 (1.3kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">114.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<!--<div class="clear"></div>-->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Dragon-fruit-type-1-1kg/1906.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160527111834_image002_3_x8ltn.jpg?v=2" alt="Dragon fruit type 1 (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Dragon-fruit-type-1-1kg/1906.html"><b>Dragon fruit type 1 (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">25.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
<div class="product-item">
    <div class="thumb-product">
        <div class="wrap-cell-center">
            <div class="wrap-img-thumb">
                <span class="ver_hold"></span>
                <a href="/detail/Mango-1kg/1919.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160609104919_20160329154252_xoai_keo_campuchia_1.jpg?v=2" alt="Mango (1kg)"></a>
            </div>
        </div>
        <!--<div class="product-rate">
            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
        </div>-->
    </div>
    <p class="rs product-name">
        <a href="/detail/Mango-1kg/1919.html"><b>Mango (1kg)</b> </a>
    </p>
    <p class="rs cate-name">
        <a href="#">Vietnam</a>
    </p>
    <p class="rs product-price"><span class="fw-b">17.000</span> VND</p>
    <p class="rs bottom-action clearfix">
        <a class="btn btn-green addProductToCart" abc="addToCart(252, 220000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
    </p>
</div><!--end: .product-item -->
</div>
</div>
</div>
</div>



<style>
    .module-category {
        padding-bottom: 50px;
    }

    .top-title {
        border-bottom: 1px dashed #c6c6c6;
        padding-bottom: 12px;
        margin-bottom: 5px;
    }

    .title-cate {
        font-weight: normal;
        font-size: 2.5em;
        line-height: 1.2em;
        float: left;
        width: 56.33802816901408%;
    }

    .sort-by {
        float: right;
        text-align: right;
        margin: 13px 0 0 0;
    }

    .top-title .sort-by a {
        color: #f47d18;
    }

    .top-title .sort-by .sep {
        color: #999999;
        margin: 0 5px;
    }

    .top-title .sort-by a {
        color: #f47d18;
    }

    .top-title .sort-by .sep {
        color: #999999;
        margin: 0 5px;
    }

    .top-title .sort-by a {
        color: #f47d18;
    }

    .wrap-select {
        display: none;
        padding-top: 10px;
        clear: both;
    }

    .list-product, .wrap-similar-product {
        margin-left: -20px;
    }
</style>