﻿
<div class="form-horizontal">

    <div class="">
        <label for="name" class="cols-sm-2 control-label">Your Name</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
            </div>
        </div>
    </div>
    <div class="">
        <label for="email" class="cols-sm-2 control-label">Your Email</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
            </div>
        </div>
    </div>
    <div class="">
        <label for="username" class="cols-sm-2 control-label">Username</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
            </div>
        </div>
    </div>
    <div class="">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
            </div>
        </div>
    </div>
    <div class="">
        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
            </div>
        </div>
    </div>
    <div class="sectionbuttonLeft">
        <button id="btnRegisterClick" type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
    </div>
    <div class="sectionbuttonRight">
        <button id="backToLogInButton" type="button" class="btn btn-primary btn-lg btn-block login-button">Back To LogIn</button>
    </div>
</div>

<style>
    .main {
        margin-top: 70px;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    . {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button {
        margin-top: 5px;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }

    div.k-window-content {
        overflow: hidden;
    }

    .login-button {
        max-width: 570px;
        margin-bottom: 10px;
    }

    .sectionbuttonRight {
        display: inline-block;
        float: right;
        margin-right: 15px;
        margin-top: 15px;
        min-width: 150px;
    }

    .sectionbuttonLeft {
        display: inline-block;
        float: left;
        margin-right: 15px;
        margin-top: 15px;
        min-width: 200px;
    }

    
</style>