﻿<div class="root-pnl">
    <section class="fx-top wrap">
        <div class="ctnr">
            <div class="cbo-sld-head">
                <div class="lft"></div>
            </div>
        </div>
        <div class="clr"></div>
    </section>
    <section id="container">
        <section class="wrap home no-select">
            <div class="ctnr">
                <section class="cbo-sld">
                    <div class="cbo-sld-mn">
                        <div class="cbo-bnr rht" id="js-index-banner1">
                            <div class="is-iosld has-init">
                                <div class="sld">
                                    <ul style="position: relative; cursor: default; backface-visibility: hidden; transform: matrix(1, 0, 0, 1, -815, 0); width: 815px;">
                                        <li class="is-item-sld" style="backface-visibility: hidden; overflow: hidden; position: absolute; transform: matrix(1, 0, 0, 1, 815, 0); width: 815px;">
                                            <a href="javascript:;">
                                                <img src="Content/images/banner.jpg">
                                                <span class="info-slide"><span class="title-slide"></span></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="pagi-sld">
                                        <div class="item-pagi-sld atv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!-- cbo-sld --> <section class="atc-main mxClrAft is-panel-snap">
                    <div class="atc-lft is-left-snap">
                        <section class="cbo-hp">
                            <div class="cbo-hp-head mxClrAft">
                                <a href="/hang-thai-lan-logatic-mart/" class="hp-img"><img class="" alt="Khuyến mãi hot" src="//img.disieuthi.vn/hang-thai-lan-logatic-mart/organic-2.png"></a><a class="hp-ttl" href="/hang-thai-lan-logatic-mart/">Mặt hàng bán chạy</a><a href="/hang-thai-lan-logatic-mart/" class="hp-mre">Xem tất cả<span class="fa fa-angle-right"></span></a>
                            </div> <!-- cbo-hp-head -->
                            <div class="cbo-hp-cnt mxClrAft cat-hp">

                                <div class="rht-cat-hp" id="list_product_156_1_28">
                                    <div class="b1 ed">
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/xi-muoi-8857104680551.html?vendor=156" class="b3" title="Xí muội"><img class="" alt="Xí muội" src="//img.disieuthi.vn/xi-muoi-3.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/xi-muoi-8857104680551.html?vendor=156" title="Xí muội">Xí muội</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    25.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/keo-me-hop-8859062500339.html?vendor=156" class="b3" title="Kẹo me hộp"><img class="" alt="Kẹo me hộp" src="//img.disieuthi.vn/keo-me-hop-1.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/keo-me-hop-8859062500339.html?vendor=156" title="Kẹo me hộp">Kẹo me hộp</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    30.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rht-cat-hp" id="list_product_156_1_83">
                                    <div class="b1 ed">
                                        <div class="b2">
                                            <a href="/bong-ngoay-tai-softtip-hop-tron-100pcs-8852205000093.html?vendor=156" class="b3" title="Bông ngoáy tai Softtip hộp tròn 100pcs"><img class="" alt="Bông ngoáy tai Softtip hộp tròn 100pcs" src="//img.disieuthi.vn/hcm/admart_6/dsc_8322.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/bong-ngoay-tai-softtip-hop-tron-100pcs-8852205000093.html?vendor=156" title="Bông ngoáy tai Softtip hộp tròn 100pcs">Bông ngoáy tai Softtip hộp tròn 100pcs</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    14.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/bong-ngoay-tai-softtip-hop-tim-280pcs-8852205000079.html?vendor=156" class="b3" title="Bông ngoáy tai Softtip hôp tim 280pcs"><img class="" alt="Bông ngoáy tai Softtip hôp tim 280pcs" src="//img.disieuthi.vn/hcm/admart_5/bong-tai-softtip-hop-tim-280pcs.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/bong-ngoay-tai-softtip-hop-tim-280pcs-8852205000079.html?vendor=156" title="Bông ngoáy tai Softtip hôp tim 280pcs">Bông ngoáy tai Softtip hôp tim 280pcs</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    33.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/quay-rau-pn9150-1c-p3-OXJWdkzuTk.html?vendor=156" class="b3" title="Quay rau PN9150/1C-P3"><img class="" alt="Quay rau PN9150/1C-P3" src="//img.disieuthi.vn/thai-lan-organnic/quay-rau-pn91501c-p3-1.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/quay-rau-pn9150-1c-p3-OXJWdkzuTk.html?vendor=156" title="Quay rau PN9150/1C-P3">Quay rau PN9150/1C-P3</a>
                                                <div class="b6">1 Cái</div>
                                                <div class="b7">
                                                    125.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/nuoc-tay-nha-ve-sinh-8850002026971.html?vendor=156" class="b3" title="Nước tẩy nhà vệ sinh"><img class="" alt="Nước tẩy nhà vệ sinh" src="//img.disieuthi.vn/thai-lan-organnic/nuoc-tay-nha-ve-sinh-1.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/nuoc-tay-nha-ve-sinh-8850002026971.html?vendor=156" title="Nước tẩy nhà vệ sinh">Nước tẩy nhà vệ sinh</a>
                                                <div class="b6">1 Túi</div>
                                                <div class="b7">
                                                    25.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rht-cat-hp" id="list_product_156_1_71">
                                    <div class="b1 ed">
                                        <div class="b2">
                                            <a href="/xa-phong-thach-thai-lan-nhieu-loai-huong-8850722211251.html?vendor=156" class="b3" title="Xà phòng Thạch Thái Lan nhiều loại hương"><img class="" alt="Xà phòng Thạch Thái Lan nhiều loại hương" src="//img.disieuthi.vn/hcm/a-au-1/dsc_0281.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/xa-phong-thach-thai-lan-nhieu-loai-huong-8850722211251.html?vendor=156" title="Xà phòng Thạch Thái Lan nhiều loại hương">Xà phòng Thạch Thái Lan nhiều loại hương</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    10.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/sua-tam-muoi-oilly-nap-nau-hu-750g-8856680002672.html?vendor=156" class="b3" title="Sữa tắm muối Oilly nắp nâu hũ 750g"><img class="" alt="Sữa tắm muối Oilly nắp nâu hũ 750g" src="//img.disieuthi.vn/hcm/admart_3/st-muoi-oilly-nap-nau-hu-750g.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/sua-tam-muoi-oilly-nap-nau-hu-750g-8856680002672.html?vendor=156" title="Sữa tắm muối Oilly nắp nâu hũ 750g">Sữa tắm muối Oilly nắp nâu hũ 750g</a>
                                                <div class="b6">1 Chai</div>
                                                <div class="b7">
                                                    55.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/dau-goi-nhuom-den-toc-thao-duoc-phu-bac-beauty-star-hop-2-goi-8809038583866.html?vendor=156" class="b3" title="Dầu gội nhuộm đen tóc thảo dược (phủ bạc) Beauty Star hộp 2 gói"><img class="" alt="Dầu gội nhuộm đen tóc thảo dược (phủ bạc) Beauty Star hộp 2 gói" src="//img.disieuthi.vn/hcm/a-au_4/dsc_0391.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/dau-goi-nhuom-den-toc-thao-duoc-phu-bac-beauty-star-hop-2-goi-8809038583866.html?vendor=156" title="Dầu gội nhuộm đen tóc thảo dược (phủ bạc) Beauty Star hộp 2 gói">Dầu gội nhuộm đen tóc thảo dược (phủ bạc) Beauty Star hộp 2 gói</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    25.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/kem-danh-rang-dang-xit-3-trong-1-bac-ha-aquafresh-uk-100ml-5000347027147.html?vendor=156" class="b3" title="Kem đánh răng dạng xịt 3 trong 1 bạc hà Aquafresh UK 100ml"><img class="" alt="Kem đánh răng dạng xịt 3 trong 1 bạc hà Aquafresh UK 100ml" src="//img.disieuthi.vn/hcm/a-au_3/dsc_9599.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/kem-danh-rang-dang-xit-3-trong-1-bac-ha-aquafresh-uk-100ml-5000347027147.html?vendor=156" title="Kem đánh răng dạng xịt 3 trong 1 bạc hà Aquafresh UK 100ml">Kem đánh răng dạng xịt 3 trong 1 bạc hà Aquafresh UK 100ml</a>
                                                <div class="b6">1 Chai</div>
                                                <div class="b7">
                                                    100.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rht-cat-hp" id="list_product_156_1_63">
                                    <div class="b1 ed">
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/chuoi-kho-8858386002260.html?vendor=156" class="b3" title="Chuối khô"><img class="" alt="Chuối khô" src="//img.disieuthi.vn/thai-lan-organnic/chuoi-kho.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/chuoi-kho-8858386002260.html?vendor=156" title="Chuối khô">Chuối khô</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    47.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/banh-quy-chocky-xanh-8850157500821.html?vendor=156" class="b3" title="Bánh quy Chocky xanh"><img class="" alt="Bánh quy Chocky xanh" src="//img.disieuthi.vn/thai-lan-organnic/banh-quy-chocky-xanh.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/banh-quy-chocky-xanh-8850157500821.html?vendor=156" title="Bánh quy Chocky xanh">Bánh quy Chocky xanh</a>
                                                <div class="b6">1 Hộp</div>
                                                <div class="b7">
                                                    52.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/banh-tivoli-oXAO2WUwTk.html?vendor=156" class="b3" title="Bánh Tivoli"><img class="" alt="Bánh Tivoli" src="//img.disieuthi.vn/thai-lan-organnic/banh-tivoli-1.jpg"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/banh-tivoli-oXAO2WUwTk.html?vendor=156" title="Bánh Tivoli">Bánh Tivoli</a>
                                                <div class="b6">1 Túi</div>
                                                <div class="b7">
                                                    40.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/snack-khoai-tay-mieng-vi-kem-chua-va-hanh-tay-lays-stax-8850718804573.html?vendor=156" class="b3" title="Snack Khoai tay miếng vị kem chua và hành tay Lays Stax"><img class="" src="//img.disieuthi.vn/test-cms/namnew-folder/sieu-thi-oh-la-la/ohlala5/dsc_2790.jpg" alt="Snack Khoai tay miếng vị kem chua và hành tay Lays Stax"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/snack-khoai-tay-mieng-vi-kem-chua-va-hanh-tay-lays-stax-8850718804573.html?vendor=156" title="Snack Khoai tay miếng vị kem chua và hành tay Lays Stax">Snack Khoai tay miếng vị kem chua và hành tay Lays Stax</a>
                                                <div class="b6">1 Lọ</div>
                                                <div class="b7">
                                                    28.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rht-cat-hp" id="list_product_156_1_15">
                                    <div class="b1 ed">
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/tuong-ot-chua-ngot-cham-ga-754ml-8850487037172.html?vendor=156" class="b3" title="Tương ớt chua ngọt chấm gà 754ml"><img class="" src="//img.disieuthi.vn/thai-lan-organnic/tuong-ot-1.jpg" alt="Tương ớt chua ngọt chấm gà 754ml"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/tuong-ot-chua-ngot-cham-ga-754ml-8850487037172.html?vendor=156" title="Tương ớt chua ngọt chấm gà 754ml">Tương ớt chua ngọt chấm gà 754ml</a>
                                                <div class="b6">1 Chai</div>
                                                <div class="b7">
                                                    65.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/nuoc-mam-ca-com-725ml-8850620888258.html?vendor=156" class="b3" title="Nước mắm cá cơm 725ml"><img class="" src="//img.disieuthi.vn/thai-lan-organnic/nuoc-mam-ca-com-725ml-1.jpg" alt="Nước mắm cá cơm 725ml"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/nuoc-mam-ca-com-725ml-8850620888258.html?vendor=156" title="Nước mắm cá cơm 725ml">Nước mắm cá cơm 725ml</a>
                                                <div class="b6">1 Chai</div>
                                                <div class="b7">
                                                    42.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b2">
                                            <a href="/hang-thai-lan-logatic-mart/tuong-ot-best-s-9556086000003.html?vendor=156" class="b3" title="Tương ớt Best\'s"><img class="" src="//img.disieuthi.vn/thai-lan-organnic/tuong-ot-best-s-1.jpg" alt="Tương ớt Best\'s"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/hang-thai-lan-logatic-mart/tuong-ot-best-s-9556086000003.html?vendor=156" title="Tương ớt Best\'s">Tương ớt Best\'s</a>
                                                <div class="b6">1 Chai</div>
                                                <div class="b7">
                                                    25.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rht-cat-hp" id="list_product_156_1_174">
                                    <div class="b1 ed">
                                        <div class="b2">
                                            <a href="/tam-goi-tre-em-d-nee-380ml-voi-duoi-3-tuoi-hong-8851989060422.html?vendor=156" class="b3" title="Tắm gội trẻ em D-Nee 380ml vòi dưới 3 tuổi hồng"><img class="" src="//img.disieuthi.vn/hcm/admart_3/tam-goi-te-d-nee-380ml-voi-duoi-3-tuoi-hong.jpg" alt="Tắm gội trẻ em D-Nee 380ml vòi dưới 3 tuổi hồng"></a>
                                            <div class="rib">
                                                <div class="t"></div>
                                            </div>
                                            <div class="b4">
                                                <a class="b5" href="/tam-goi-tre-em-d-nee-380ml-voi-duoi-3-tuoi-hong-8851989060422.html?vendor=156" title="Tắm gội trẻ em D-Nee 380ml vòi dưới 3 tuổi hồng">Tắm gội trẻ em D-Nee 380ml vòi dưới 3 tuổi hồng</a>
                                                <div class="b6">1 Chai</div>
                                                <div class="b7">
                                                    80.000<sup itemprop="priceCurrency" content=""><u></u></sup>
                                                </div>
                                                <div class="old"></div>
                                            </div>
                                            <div class="b8">
                                                <div class="ba">
                                                    <div>
                                                        <span class="fa fa-shopping-cart"> Cho vào giỏ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> <!-- cbo-hp -->
                    </div> <!-- atc-lft --><aside class="atc-rht is-right-snap">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block">
                            <div class="slide_right">
                                <a class="bnr- cbo-img" title="Big Sale" href="//disieuthi.vn/khuyen-mai.html"><img class="lazy-loaded" src="//img.disieuthi.vn/quangcao/banner-1.png" alt="Khuyến mãi" src="//img.disieuthi.vn/quangcao/banner-1.png"></a><br><!--<a class="bnr- cbo-img" title="trang trại trung thực" href="//disieuthi.vn/trang-trai-trung-thuc/"><img class="lazy" src="//img.disieuthi.vn/quangcao/trung-thuc-200.png" alt="trang trại trung thực"></a><br/><a class="bnr- cbo-img" title="rau sạch fvf" href="//disieuthi.vn/rau-sach-fvf/set-qua-tang-rau-sach-fvf-oJIzT6QzWk.html?vendor=177/"><img class="lazy" src="//img.disieuthi.vn/quangcao/fvf.png" alt="rau sạch fvf"></a><br/>--><a class="bnr- cbo-img" title="chè tân cương" href="//disieuthi.vn/nuoc-mam-phu-quoc-khai-hoan/"><img class="lazy-loaded" src="//img.disieuthi.vn/quangcao/nuoc-mam.png" alt="nước mắm khải hoàn" src="//img.disieuthi.vn/quangcao/nuoc-mam.png"></a><br><a class="bnr- cbo-img" title="chè tân cương" href="//disieuthi.vn/biggreen/che-dac-san-tan-cuong-100g-6757-aw1uwYhteb.html?vendor=63"><img class="lazy-loaded" src="//img.disieuthi.vn/quangcao/che-tan-cuong-doc.png" alt="chè tân cương" src="//img.disieuthi.vn/quangcao/che-tan-cuong-doc.png"></a><br><a class="bnr- cbo-img" title="Big Sale" href="//disieuthi.vn/thuc-pham-tuoi-song-161/"><img class="lazy-loaded" src="//img.disieuthi.vn/quangcao/banner-2.png" alt="Thực phẩm tươi sống" src="//img.disieuthi.vn/quangcao/banner-2.png"></a><br> <a class="bnr- cbo-img" title="Đồ tươi sống" href="//disieuthi.vn"><img class="lazy-loaded" src="//img.disieuthi.vn/quangcao/phong-cach.png" alt="Phong cách mua sắm" src="//img.disieuthi.vn/quangcao/phong-cach.png"></a>
                            </div>
                        </div>
                    </aside>
                </section>
            </div>
            <div class="clr"></div>
        </section>
    </section>
    <footer>
        <div class="cnt-fter is-footer-scroll">
            <div class="wrap">
                <div class="ctnr">
                    <div class="lft-ft">
                        <div class="ftr-col">
                            <div class="ftr-col-head">Hỗ trợ khách hàng</div>
                            <div class="ctr-col-cnt">
                                <a class="ctr-col-itm">Hỗ trợ: 09-09-09-09-09</a>
                                <a href="mailto:hotro@disieuthi.vn" class="ctr-col-itm" title="Email">Email: khoa.nguyen@outlook.com</a>
                                <a class="ctr-col-itm">Thời gian làm việc : 8h00 - 18h:00</a>
                                <a class="ctr-col-itm">Các ngày trong tuần (trừ Chủ Nhật)</a>
                            </div> <!-- ctr-col-cnt -->
                        </div> <!-- ftr-col -->
                        <div class="ftr-col">
                            <div class="ftr-col-head">Hướng dẫn dịch vụ</div>
                            <div class="ctr-col-cnt">
                                <a href="/cau-hoi-thuong-gap.html" class="ctr-col-itm" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a>
                                <a href="/huong-dan-mua-hang.html" class="ctr-col-itm" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a>
                                <a href="/huong-dan-thanh-toan.html" class="ctr-col-itm" title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a>
                                <a href="/chinh-sach-giao-hang.html" class="ctr-col-itm" title="Chính sách giao vận">Chính sách giao vận</a>
                                <a href="/chinh-sach-doi-tra-hang.html" class="ctr-col-itm" title="Chính sách đổi trả hàng">Chính sách đổi trả hàng</a>
                                <a href="/chinh-sach-bao-mat.html" class="ctr-col-itm" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                <a href="/dieu-khoan-su-dung.html" class="ctr-col-itm" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                            </div> <!-- ctr-col-cnt -->
                        </div> <!-- ftr-col -->
                        <div class="ftr-col">
                            <div class="ftr-col-head">Thông tin chủ quản</div>
                            <div class="ctr-col-cnt">
                                <a class="ctr-col-itm">Siêu thị online web site phục vụ nghiên cứu.</a>
                                <a class="ctr-col-itm">Nhóm TKGD - 15HCB2</a>
                                <a class="ctr-col-itm">Tham khảo giao diện từ disieuthi.vn</a>
                            </div> <!-- ctr-col-cnt -->
                        </div> <!-- ftr-col -->
                        <!-- bnr-ft -->
                    </div> <!-- lft-ft -->
                    <div class="rht-ft"> <!-- ftr-col fb-col --> </div> <!-- rht-ft -->
                </div> <!-- ctnr -->
            </div> <!-- wrap -->
        </div>
        <section class="list-lib"></section>
    </footer>
</div>