﻿
<div class="module-category">
    <div class="top-title clearfix">
        <h3 class="rs title-cate">
            Keyword:
            aqu
        </h3>
        <div class="sort-by">
            <span class="lbl">Sort by:</span>
            <a abc="/search.html?keyword=aqu&amp;sort=name" class="fw-b">Product name</a>
            <span class="sep">|</span>
            <a abc="/search.html?keyword=aqu&amp;sort=price">Price</a>
            <span class="sep">|</span>
            <a abc="/search.html?keyword=aqu&amp;sort=brand">Brand</a>
        </div>
        <div class="wrap-select">
            <label class="common-select">
                <span class="show-val">
                    <span>
                        -- Sort by --
                    </span>
                    <i class="icon iPickD"></i>
                </span>
                <select id="sys_select_sort">
                    <option value="0">-- Sort by --</option>
                    <option value="0" data-href="//search.html?keyword=aqu&amp;sort=name">Product name</option>
                    <option value="0" data-href="//search.html?keyword=aqu&amp;sort=price">Price</option>
                    <option value="0" data-href="//search.html?keyword=aqu&amp;sort=brand">Brand</option>
                </select>
            </label>
        </div>
    </div>
    <div class="main-content">
        <div class="wrap-list-product">
            <input type="hidden" id="anchor_index" value="0">
            <input type="hidden" id="is_next" value="0">

            <div class="list-product clearfix" id="list_items">
                <div class="product-item">
                    <div class="thumb-product">
                        <div class="wrap-cell-center">
                            <div class="wrap-img-thumb">
                                <span class="ver_hold"></span>
                                <a abc="/detail/aquafina-1,5l-x-12-bottles/699.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140217144835_nuoc_aquafina.jpg?v=2" alt="Aquafina (1,5l x 12 bottles)"></a>
                            </div>
                        </div>
                        <!--<div class="product-rate">
                            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                        </div>-->
                    </div>
                    <p class="rs product-name">
                        <a abc="/detail/aquafina-1,5l-x-12-bottles/699.html"><b>Aquafina (1,5l x 12 bottles)</b> </a>
                    </p>
                    <p class="rs cate-name">
                        <a abc="#">Aquafina</a>
                    </p>
                    <p class="rs product-price"><span class="fw-b">112.000</span> VND</p>
                    <p class="rs bottom-action clearfix">
                        <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    </p>
                </div><!--end: .product-item -->
                <div class="product-item">
                    <div class="thumb-product">
                        <div class="wrap-cell-center">
                            <div class="wrap-img-thumb">
                                <span class="ver_hold"></span>
                                <a abc="/detail/aquafina-1,5l/702.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140217144854_aquafina_1_5_l.jpg?v=2" alt="Aquafina (1,5l)"></a>
                            </div>
                        </div>
                        <!--<div class="product-rate">
                            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                        </div>-->
                    </div>
                    <p class="rs product-name">
                        <a abc="/detail/aquafina-1,5l/702.html"><b>Aquafina (1,5l)</b> </a>
                    </p>
                    <p class="rs cate-name">
                        <a abc="#">Aquafina</a>
                    </p>
                    <p class="rs product-price"><span class="fw-b">14.000</span> VND</p>
                    <p class="rs bottom-action clearfix">
                        <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    </p>
                </div><!--end: .product-item -->
                <div class="product-item">
                    <div class="thumb-product">
                        <div class="wrap-cell-center">
                            <div class="wrap-img-thumb">
                                <span class="ver_hold"></span>
                                <a abc="/detail/aquafina-bottled-water/378.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150619131848_k2__9f8429f3_65ec_4a2f_8abf_6584faaa.jpg?v=2" alt="Aquafina Bottled Water (1.5l x 1 bottle)"></a>
                            </div>
                        </div>
                        <!--<div class="product-rate">
                            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                        </div>-->
                    </div>
                    <p class="rs product-name">
                        <a abc="/detail/aquafina-bottled-water/378.html"><b>Aquafina Bottled Water (1.5l x 1 bottle)</b> </a>
                    </p>
                    <p class="rs cate-name">
                        <a abc="#">Aquafina</a>
                    </p>
                    <p class="rs product-price"><span class="fw-b">15.000</span> VND</p>
                    <p class="rs bottom-action clearfix">
                        <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    </p>
                </div><!--end: .product-item -->
                <div class="product-item">
                    <div class="thumb-product">
                        <div class="wrap-cell-center">
                            <div class="wrap-img-thumb">
                                <span class="ver_hold"></span>
                                <a abc="/detail/aquafina-bottled-water/378.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150619131848_k2__9f8429f3_65ec_4a2f_8abf_6584faaa.jpg?v=2" alt="Aquafina Bottled Water (1.5l x 1 bottle)"></a>
                            </div>
                        </div>
                        <!--<div class="product-rate">
                            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                        </div>-->
                    </div>
                    <p class="rs product-name">
                        <a abc="/detail/aquafina-bottled-water/378.html"><b>Aquafina Bottled Water (1.5l x 1 bottle)</b> </a>
                    </p>
                    <p class="rs cate-name">
                        <a abc="#">Aquafina</a>
                    </p>
                    <p class="rs product-price"><span class="fw-b">15.000</span> VND</p>
                    <p class="rs bottom-action clearfix">
                        <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    </p>
                </div><!--end: .product-item -->
                <!--<div class="clear"></div>-->
                <div class="product-item">
                    <div class="thumb-product">
                        <div class="wrap-cell-center">
                            <div class="wrap-img-thumb">
                                <span class="ver_hold"></span>
                                <a abc="/detail/Aquafina-Bottled-Water-355ml-x-24/1655.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151205113413_nuoc_tinh_khiet_aquafina_350ml.jpg?v=2" alt="Aquafina Bottled Water (355ml x 24)"></a>
                            </div>
                        </div>
                        <!--<div class="product-rate">
                            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                        </div>-->
                    </div>
                    <p class="rs product-name">
                        <a abc="/detail/Aquafina-Bottled-Water-355ml-x-24/1655.html"><b>Aquafina Bottled Water (355ml x 24)</b> </a>
                    </p>
                    <p class="rs cate-name">
                        <a abc="#">Aquafina</a>
                    </p>
                    <p class="rs product-price"><span class="fw-b">91.000</span> VND</p>
                    <p class="rs bottom-action clearfix">
                        <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    </p>
                </div><!--end: .product-item -->
                <div class="product-item">
                    <div class="thumb-product">
                        <div class="wrap-cell-center">
                            <div class="wrap-img-thumb">
                                <span class="ver_hold"></span>
                                <a abc="/detail/Aquarius-water-390ml/1645.html" class="container"><img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20151204131802_nuoc_aquarius.jpg?v=2" alt="Aquarius water (390ml)"></a>
                            </div>
                        </div>
                        <!--<div class="product-rate">
                            <i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i><i class="icon iStar"></i>
                        </div>-->
                    </div>
                    <p class="rs product-name">
                        <a abc="/detail/Aquarius-water-390ml/1645.html"><b>Aquarius water (390ml)</b> </a>
                    </p>
                    <p class="rs cate-name">
                        <a abc="#">Aquarius</a>
                    </p>
                    <p class="rs product-price"><span class="fw-b">9.000</span> VND</p>
                    <p class="rs bottom-action clearfix">
                        <a class="btn btn-green addProductToCart" abc="addToCart(1743, 247000, 1); return false;"><i class="icon iPlus  fa fa-plus"></i> Thêm vào giỏ</a>
                    </p>
                </div><!--end: .product-item -->
            </div>
        </div>
    </div>
</div>

<style>
    .module-category {
        padding-bottom: 50px;
    }

    .top-title {
        border-bottom: 1px dashed #c6c6c6;
        padding-bottom: 12px;
        margin-bottom: 5px;
    }

    .title-cate {
        font-weight: normal;
        font-size: 2.5em;
        line-height: 1.2em;
        float: left;
        width: 56.33802816901408%;
    }

    .sort-by {
        float: right;
        text-align: right;
        margin: 13px 0 0 0;
    }

    .top-title .sort-by a {
        color: #f47d18;
    }

    .top-title .sort-by .sep {
        color: #999999;
        margin: 0 5px;
    }

    .top-title .sort-by a {
        color: #f47d18;
    }

    .top-title .sort-by .sep {
        color: #999999;
        margin: 0 5px;
    }

    .top-title .sort-by a {
        color: #f47d18;
    }

    .wrap-select {
        display: none;
        padding-top: 10px;
        clear: both;
    }

    .list-product, .wrap-similar-product {
        margin-left: -20px;
    }
</style>