﻿<div class="module-shopping-cart">
    <div class="list-item-cart" id="shoppingCartItems">
        <div class="" id="sys_message"></div>
        <div class="" id="fee_message">
        </div>
        <div class="cart-item clearfix" id="product_item_378">
            <div class="left-thumb">
                <div class="wrap-cell-center">
                    <div class="wrap-img-thumb">
                        <span class="ver_hold"></span>
                        <span class="container">
                            <img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20150619131848_k2__9f8429f3_65ec_4a2f_8abf_6584faaa.jpg?v=2" alt="Aquafina Bottled Water (1.5l x 1 bottle)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="info-area">
                    <div class="product-name">
                        Aquafina Bottled Water (1.5l x 1 bottle)
                    </div>
                    <div class="select-number-product">
                        <label>
                            <input type="text" class="product-number" value="1" onchange="change_number_product(378, 0);" id="product_number_378" name="product_number[]">
                            <input type="hidden" name="product_id[]" value="378">
                        </label>
                        <span class="product-price">x <span class="fw-b">15.000</span> VND</span>
                    </div>
                </div>
                <div class="wrap-remove-button">
                    <span class="button-remove" abc="change_number_product(378, 1);">
                        <i class="icon iX"></i>
                        <span>Xóa</span>
                    </span>
                </div>
            </div>
        </div><!--end: .cart-item -->
        <div class="cart-item clearfix" id="product_item_699">
            <div class="left-thumb">
                <div class="wrap-cell-center">
                    <div class="wrap-img-thumb">
                        <span class="ver_hold"></span>
                        <span class="container">
                            <img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20140217144835_nuoc_aquafina.jpg?v=2" alt="Aquafina (1,5l x 12 bottles)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="info-area">
                    <div class="product-name">
                        Aquafina (1,5l x 12 bottles)
                    </div>
                    <div class="select-number-product">
                        <label>
                            <input type="text" class="product-number" value="3" onchange="change_number_product(699, 0);" id="product_number_699" name="product_number[]">
                            <input type="hidden" name="product_id[]" value="699">
                        </label>
                        <span class="product-price">x <span class="fw-b">112.000</span> VND</span>
                    </div>
                </div>
                <div class="wrap-remove-button">
                    <span class="button-remove" abc="change_number_product(699, 1);">
                        <i class="icon iX"></i>
                        <span>Xóa</span>
                    </span>
                </div>
            </div>
        </div><!--end: .cart-item -->

        <div class="cart-item clearfix" id="product_item_996">
            <div class="left-thumb">
                <div class="wrap-cell-center">
                    <div class="wrap-img-thumb">
                        <span class="ver_hold"></span>
                        <span class="container">
                            <img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20141105164645_98_haagen_dazs_vanilla_mini_cup.jpg?v=2" alt="Haagen Dazs Vanilla Minicup (100ml)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="info-area">
                    <div class="product-name">
                        Haagen Dazs Vanilla Minicup (100ml)
                    </div>
                    <div class="select-number-product">
                        <label>
                            <input type="text" class="product-number" value="1" onchange="change_number_product(996, 0);" id="product_number_996" name="product_number[]">
                            <input type="hidden" name="product_id[]" value="996">
                        </label>
                        <span class="product-price">x <span class="fw-b">80.000</span> VND</span>
                    </div>
                </div>
                <div class="wrap-remove-button">
                    <span class="button-remove" abc="change_number_product(996, 1);">
                        <i class="icon iX"></i>
                        <span>Xóa</span>
                    </span>
                </div>
            </div>
        </div><!--end: .cart-item -->
        <div class="cart-item clearfix" id="product_item_1790">
            <div class="left-thumb">
                <div class="wrap-cell-center">
                    <div class="wrap-img-thumb">
                        <span class="ver_hold"></span>
                        <span class="container">
                            <img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20160317151332_banhca.png?v=2" alt="fish cake cream with 3 taste (150ml * 3)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="info-area">
                    <div class="product-name">
                        fish cake cream with 3 taste (150ml * 3)
                    </div>
                    <div class="select-number-product">
                        <label>
                            <input type="text" class="product-number" value="1" onchange="change_number_product(1790, 0);" id="product_number_1790" name="product_number[]">
                            <input type="hidden" name="product_id[]" value="1790">
                        </label>
                        <span class="product-price">x <span class="fw-b">96.000</span> VND</span>
                    </div>
                </div>
                <div class="wrap-remove-button">
                    <span class="button-remove" abc="change_number_product(1790, 1);">
                        <i class="icon iX"></i>
                        <span>Xóa</span>
                    </span>
                </div>
            </div>
        </div><!--end: .cart-item -->
        <div class="cart-item clearfix" id="product_item_2696">
            <div class="left-thumb">
                <div class="wrap-cell-center">
                    <div class="wrap-img-thumb">
                        <span class="ver_hold"></span>
                        <span class="container">
                            <img src="https://eat.vcmedia.vn/thumb/160_100,70/img_upload/product/20170503101013_1490605408265_7781065.jpg?v=2" alt="Kinhoo can opener 19.5cm">
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="info-area">
                    <div class="product-name">
                        Kinhoo can opener 19.5cm
                    </div>
                    <div class="select-number-product">
                        <label>
                            <input type="text" class="product-number" value="1" onchange="change_number_product(2696, 0);" id="product_number_2696" name="product_number[]">
                            <input type="hidden" name="product_id[]" value="2696">
                        </label>
                        <span class="product-price">x <span class="fw-b">210.000</span> VND</span>
                    </div>
                </div>
                <div class="wrap-remove-button">
                    <span class="button-remove" abc="change_number_product(2696, 1);">
                        <i class="icon iX"></i>
                        <span>Xóa</span>
                    </span>
                </div>
            </div>
        </div><!--end: .cart-item -->
    </div>
    <div class="count-money">
        <div class="row-money fs20" style="font-size:  1.5em;">
            <div class="lbl2" style="max-width: 30%; display: inline-block;">
                <span class="lbl-left">Total amount:</span>
            </div>
            <span class="money-val" style="max-width: 70%; display: inline-block; margin-left: 30px;">
                <span class="fw-b" id="view_total">855.000</span> VND
                <input type="hidden" name="total" value="855000" id="total">
            </span>

            <button id="removeAllShoppingCart" class="btn btn-sm" abc="change_number_product(2696, 1);" style="float: right;">
                <i class="icon iX"></i>
                <span>Xóa Toàn Bộ</span>
            </button>

        </div>
    </div>

</div>
<div class="bottom-action clearfix" style="position: absolute;bottom: 0;">
    <div class="sectionbuttonLeft">
        <button id="btnCheckOutClick" type="button" class="btn btn-primary btn-lg btn-block login-button">Thanh Toán</button>
    </div>
    <div class="sectionbuttonRight" style=" margin-left: 390px;">
        <button id="stayToBuy" type="button" class="btn btn-primary btn-lg btn-block login-button">Tiếp tục mua hàng</button>
    </div>

</div>
<style>
    .module-shopping-cart .title-module {
        font-weight: normal;
        font-size: 2.5em;
        line-height: 1em;
        padding-bottom: 26px;
    }

    .list-item-cart {
        border-bottom: 1px dashed #c6c6c6;
        padding-bottom: 10px;
        margin-bottom: 32px;
    }

    .title-module {
        font-weight: normal;
        font-size: 2.5em;
        line-height: 1em;
        padding-bottom: 26px;
    }

    .cart-item {
        border-bottom: 1px dashed #c6c6c6;
    }

    .left-thumb {
        float: left;
        height: 80px;
        width: 20%;
    }

    .wrap-cell-center {
        display: table;
        width: 100%;
    }



    .wrap-img-thumb {
        width: 100%;
        height: 70px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .module-shopping-cart .cart-item .right-info {
        float: right;
        width: 80%;
    }

    .clearfix:after {
        clear: both;
    }

    .module-shopping-cart .cart-item .right-info {
        float: right;
        width: 80%;
    }

    .cart-item .right-info .info-area {
        float: left;
        width: 78%;
    }

    .cart-item .right-info .product-name {
        padding: 10px 0 12px;
        font-size: 1.166666666666667em;
        line-height: 1em;
    }

    .cart-item .right-info .product-number {
        background: #efefef;
        border: 1px solid #ebe7e7;
        width: 26px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 1.333333333333333em;
        margin-right: 15px;
        display: inline-block;
    }

    .cart-item .right-info .product-price {
        /*font-size: 1.33333333333333em;*/
        line-height: 1em;
        vertical-align: -3px;
    }

        .cart-item .right-info .product-price .fw-b {
            margin-left: 10px;
        }

    .fw-b {
        font-weight: bold;
    }

    .cart-item .right-info .wrap-remove-button {
        float: right;
        width: 20%;
        padding-top: 18px;
        text-align: right;
    }

    .cart-item .wrap-remove-button .button-remove {
        cursor: pointer;
        padding: 10px 10px;
        line-height: 0;
        background: #efefef;
        border: 1px solid #DDDDDD;
        display: inline-block;
    }

    .iX {
        width: 10px;
        height: 10px;
        background-position: -130px 0;
    }

    img {
        height: 60px;
    }

    .login-button {
        max-width: 570px;
        margin-bottom: 10px;
    }

    .sectionbuttonRight {
        display: inline-block;
        float: right;
        margin-right: 15px;
        margin-top: 15px;
        min-width: 150px;
    }

    .sectionbuttonLeft {
        display: inline-block;
        float: left;
        margin-right: 15px;
        margin-top: 15px;
        min-width: 200px;
    }


    .money-val {
        max-width: 70%;
        margin-left: 30px;
    }
</style>