﻿<div class="w3-content w3-display-container">
    <img class="mySlides" src="Content/images/p1.png">
    <img class="mySlides" src="Content/images/p2.png">
    <img class="mySlides" src="Content/images/p3.jpg">
    <div class="w3-center w3-display-bottommiddle" style="width:100%">
        <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
    </div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }
</script>
<style>
    .mySlides {
        display: none;
    }

    .w3-left, .w3-right, .w3-badge {
        cursor: pointer;
        font-size: 25pt;
        display: inline;
    }

    .w3-badge {
        height: 13px;
        width: 13px;
        padding: 0;
    }

    .w3-display-bottommiddle {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0%);
    }

    .w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
        content: "";
        display: table;
        clear: both;
    }

    .w3-tooltip, .w3-display-container {
        position: relative;
    }

    .w3-right {
        float: right !important;
    }

    .mySlides {
        margin-left: auto;
        margin-right: auto;
    }
</style>
