﻿
@media (min-width: 1400px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1370px;
    }
}

@media (min-width: 1500px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1470px;
    }
}

.root-pnl {
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: relative;
}

header {
    width: 100%;
    height: 60px;
    background: #00a651;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
}

    header > .wrap {
        height: 60px;
    }

.wrap {
    width: 1024px;
}

header > .wrap .ctnr > * {
    float: left;
}

.wrap {
    margin: 0 auto;
    width: 1206px;
}

    .wrap .ctnr {
        float: none;
    }

header > .wrap .ctnr {
    float: right;
    width: 100%;
}

.ctnr-header {
    position: relative;
}



.cbo-logo {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    margin-right: 5px;
    width: 130px;
    position: relative;
}

    .cbo-logo a, .cbo-logo img {
        max-width: 177px;
        max-height: 60px;
        display: block;
        margin-top: 0px;
    }

    .cbo-logo .sl-lc {
        width: 177px;
        height: 20px;
        position: absolute;
        bottom: -5px;
        right: -5px;
    }

        .cbo-logo .sl-lc .sl-lc-head {
            font-size: 12px;
            line-height: 20px;
            margin-right: 0;
            float: left;
            color: #fff;
            padding: 0 5px;
            margin-right: -5px;
            position: relative;
            z-index: 10;
            cursor: pointer;
        }

.trs_ln {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.cbo-logo .sl-lc .sl-lc-head .fa {
    margin-right: 5px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.2);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.fa-map-marker:before {
    content: "\f041";
}

.cbo-logo:after {
    display: block;
    content: " ";
    width: 1px;
    height: 40px;
    position: absolute;
    right: -5px;
    top: 10px;
    background: #09b65d;
}

.cbo-mk {
    margin-left: -1px;
    width: 117px;
    height: 60px;
    position: relative;
}

    .cbo-mk .cbo-mk-head {
        width: 130px;
        height: 60px;
        cursor: pointer;
        color: #FFF;
        position: relative;
        z-index: 10;
    }

        .cbo-mk .cbo-mk-head .mk-nm {
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            font-size: 16px;
            padding-top: 12px;
            padding-left: 10px;
            text-align: right;
            margin-right: 26px;
            line-height: 25px;
            height: 25px;
            /*overflow: hidden;*/
        }

        .cbo-mk .cbo-mk-head .mk-txt-sl {
            display: block;
            font-size: 12px;
            line-height: 25px;
            height: 25px;
            margin-right: 26px;
            text-align: right;
            padding-top: 4px;
        }

        .cbo-mk .cbo-mk-head .mk-ico {
            font-size: 13px;
            position: absolute;
            right: 0;
            top: 0;
            height: 60px;
            width: 26px;
            line-height: 60px;
            text-align: center;
        }

.fa-caret-down:before {
    content: "\f0d7";
}

.cbo-mk.hover .pnl-mk {
    visibility: visible;
    opacity: 1;
    top: 60px;
    height: 575px;
}

.cbo-mk .pnl-mk {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 2px 8px rgba(0,0,0,.25);
    display: block;
    opacity: 0;
    visibility: hidden;
    background: url(/styles/web/4038/images/theme/stepbuy.png) no-repeat center 65px rgba(230,230,230,1);
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 472px;
    overflow: hidden;
}

    .cbo-mk .pnl-mk .cl {
        margin-left: 385px;
    }

    .cbo-mk .pnl-mk .cl {
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: rgba(0,0,0,0) none repeat scroll 0 0;
        color: #000;
        cursor: pointer;
        font-size: 12px;
        height: 40px;
        left: 50%;
        line-height: 40px;
        margin-left: 477px;
        opacity: 1;
        position: absolute;
        text-align: center;
        top: 9px;
        width: 130px;
    }

        .cbo-mk .pnl-mk .cl:before {
            font-family: FontAwesome;
        }

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

header > .wrap .ctnr > * {
    float: left;
}

.cbo-srch {
    width: 420px;
}

.cbo-srch {
    width: 420px;
    height: 60px;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

    .cbo-srch .frm-srch {
        width: 400px;
    }

    .cbo-srch .frm-srch {
        width: 400px;
        height: 36px;
        margin-top: 12px;
        background: #FFF;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        position: relative;
        z-index: 10;
        overflow: hidden;
    }

        .cbo-srch .frm-srch .ip-srch {
            width: 350px;
            height: 36px;
            float: left;
            font-size: 14px;
            margin-left: 10px;
            color: #666;
            border: 0;
            text-shadow: none;
        }

        .cbo-srch .frm-srch .smt-srch {
            -webkit-transition: all 500ms ease 0s;
            -o-transition: all 500ms ease 0s;
            transition: all 500ms ease 0s;
            color: #00a651;
            width: 40px;
            height: 36px;
            float: right;
            font-size: 20px;
            border: 0;
            background: #c9d7ed;
            line-height: 0;
            padding-top: 4px;
            cursor: pointer;
        }

            .cbo-srch .frm-srch .smt-srch:before {
                display: block;
                margin-top: 0;
            }

.fa-search:before {
    content: "\f002";
}

button:after {
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    position: absolute;
    display: block;
    content: " ";
    /*width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;*/
    opacity: 0;
    background: rgba(0,0,0,0.1);
}

.cbo-srch:after {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    position: absolute;
    display: block;
    content: " ";
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    opacity: 0;
    background: rgba(255,255,255,.1);
}

.cbo-usr-ifo {
    margin-left: 7px;
    width: 179px;
    height: 60px;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
}

    .cbo-usr-ifo:before {
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        display: block;
        content: " ";
        width: 1px;
        height: 40px;
        position: absolute;
        right: -3px;
        top: 10px;
        background: #09b65d;
    }

    .cbo-usr-ifo .usr-ifo-head .usr-ifo-ttl {
        font-size: 14px;
        line-height: 14px;
        padding-top: 16px;
        text-align: left;
        margin-left: 43px;
        height: 19px;
        width: 115px;
        display: block;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cbo-usr-ifo .usr-ifo-head .usr-ifo-sub {
        font-size: 12px;
        line-height: 12px;
        font-family: Roboto-Light;
        text-align: left;
        margin-left: 43px;
        margin-top: 15px;
    }

    .cbo-usr-ifo .usr-ifo-head .usr-ifo-ico {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        width: 27px;
        height: 27px;
        border: 1px solid #fefefe;
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        position: absolute;
        left: 10px;
        top: 15px;
    }

.fa-user:before {
    content: "\f007";
}

.cbo-usr-ifo .usr-ifo-head .usr-ifo-caret {
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 10px;
}

.fa-caret-down:before {
    content: "\f0d7";
}

.cbo-usr-ifo .usr-ifo-lst {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    display: block;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 2px 8px rgba(0,0,0,.25);
}

.new-menu-acc {
    background: #fff;
    padding: 24px 16px 0 16px;
    width: 195px;
    position: relative;
}

    .new-menu-acc:before {
        display: block !important;
        content: " ";
        position: absolute;
        width: 14px;
        height: 14px;
        top: -14px;
        left: 18px;
        border-bottom: 8px solid #fff;
        box-sizing: border-box;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }

    .new-menu-acc .button-login {
        margin-bottom: 15px;
        display: block;
        padding: 0 10px;
        font-size: 12px;
    }


[class^="new-button-"].orange {
    background: #f7941d;
    color: #fff;
}

[class^="new-button-"].small-padding {
    padding: 0 20px;
}

.new-button-m {
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}

[class^="new-button-"] {
    position: relative;
    padding: 0 35px;
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 600;
}

    [class^="new-button-"]:after {
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        position: absolute;
        display: block;
        content: " ";
        width: 60%;
        height: 60%;
        left: 20%;
        top: 20%;
        opacity: 0;
        background: rgba(255,255,255,.1);
    }

.new-menu-acc .button-login-facebook {
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 15px;
}

[class^="new-button-"].dark-blue {
    background: #3a5795;
    color: #fff;
}

[class^="new-button-"].small-padding {
    padding: 0 20px;
}

.new-button-m {
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}

.new-menu-acc .button-login-google {
    font-size: 12px;
    padding: 0 10px;
}

[class^="new-button-"].dark-brown {
    background: #d6492b;
    color: #fff;
}

[class^="new-button-"].small-padding {
    padding: 0 20px;
}

.new-button-m {
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}

.new-menu-acc .row-text-register {
    white-space: nowrap;
    color: #555;
    line-height: 50px;
    font-size: 12px;
    border-bottom: 1px solid #e0e0e0;
}

    .new-menu-acc .row-text-register a {
    }

.new-link {
    font-size: 12px;
    color: #00a651;
}

.new-menu-acc .link-check-order {
    line-height: 44px;
    font-size: 12px;
}

.new-link.gray {
    color: #555;
}

.cbo-usr-ifo:after {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    position: absolute;
    display: block;
    content: " ";
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    opacity: 0;
    background: rgba(255,255,255,.1);
}

header > .wrap .ctnr > * {
    float: left;
}

.cbo-shp {
    width: 110px;
    height: 60px;
    margin-left: 3px;
    cursor: pointer;
    position: relative;
}

    .cbo-shp .cbo-shp-head {
        width: 110px;
        height: 60px;
        color: #fff;
    }

        .cbo-shp .cbo-shp-head:before {
            -webkit-transition: all 500ms ease 0s;
            -o-transition: all 500ms ease 0s;
            transition: all 500ms ease 0s;
            display: block;
            content: " ";
            width: 1px;
            height: 50px;
            position: absolute;
            left: -4px;
            top: 5px;
            background: #00a651;
            opacity: 0;
        }

        .cbo-shp .cbo-shp-head .cbo-shp-ico {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            width: 27px;
            height: 27px;
            border: 1px solid #fefefe;
            text-align: center;
            font-size: 14px;
            line-height: 27px;
            position: absolute;
            left: 10px;
            top: 15px;
        }

.fa-shopping-cart:before {
    content: "\f07a";
}

.cbo-shp .cbo-shp-head .cnt-shp {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #f7941d;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    padding: 0 2px;
    display: block;
    position: absolute;
    left: 31px;
    top: 12px;
}

.cbo-shp .cbo-shp-head .shp-head {
    font-size: 14px;
    line-height: 60px;
    display: block;
    margin-left: 45px;
}

.cbo-shp .shp-lst {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 363px;
    max-height: calc(100vh - 50px);
    max-height: -webkit-calc(100vh - 50px);
    max-height: -moz-calc(100vh - 50px);
    background: #fff;
    overflow: visible;
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 2px 8px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.shp-lst .tb .tc {
    float: right;
    margin-right: 26px;
    height: 34px;
    line-height: 34px;
    display: block;
    color: #333;
    font-size: 13px;
    padding-left: 10px;
}


    .shp-lst .tb .tc span {
        vertical-align: top;
        display: inline-block;
        line-height: 34px;
        height: 34px;
        margin-left: 5px;
        font-family: Roboto-Bold;
        font-size: 14px;
        color: #00a651;
        background: #f5f5f5;
    }

.shp-lst .tb .td {
    box-sizing: border-box;
    float: right;
    display: block;
    margin-right: 20px;
}

    .shp-lst .tb .td .te {
        color: #333;
        background: #dcdcdc;
        margin-right: 3px;
    }

    .shp-lst .tb .td > * {
        float: left;
        position: relative;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        width: 150px;
        height: 34px;
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        line-height: 34px;
    }

        .shp-lst .tb .td > * span {
            display: inline-block;
            line-height: 34px;
            margin-right: 6px;
        }

.fa-download:before {
    content: "\f019";
}


.shp-lst .tb .td > * span {
    display: inline-block;
    line-height: 34px;
    margin-right: 6px;
}

.shp-lst .tb .td > *:after {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    position: absolute;
    display: block;
    content: " ";
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    opacity: 0;
    background: rgba(0,0,0,.1);
}

.shp-lst .tb .td .tf {
    margin-left: 3px;
    margin-right: 6px;
    color: #fff;
    background: #00a651;
}

.shp-lst .tb .td > * {
    float: left;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 150px;
    height: 34px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    line-height: 34px;
}

    .shp-lst .tb .td > * span {
        display: inline-block;
        line-height: 34px;
        margin-right: 6px;
    }

.fa-check-square-o:before {
    content: "\f046";
}

.shp-lst .tb .td > *:after {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    position: absolute;
    display: block;
    content: " ";
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    opacity: 0;
    background: rgba(0,0,0,.1);
}

.shp-lst .tb .td:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}

.shp-lst .tb:after {
    display: block;
    width: 0;
    height: 0;
    visibility: hide;
    clear: both;
    content: " ";
}

.shp-lst .tg {
    width: 363px;
    height: 32px;
    border-top: 1px solid #ededed;
    text-align: center;
}

    .shp-lst .tg .th:last-child {
        border-right: 0;
    }

    .shp-lst .tg .th {
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        width: 32%;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #ededed;
    }


.cbo-shp:after {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    position: absolute;
    display: block;
    content: " ";
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    opacity: 0;
    background: rgba(255,255,255,.1);
}

.notify_card {
    position: absolute;
    top: 70px;
    display: none;
    right: 0;
}

.container-cart {
    animation: container-cartAnim linear 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

.container-cart {
    display: inline-block;
    position: relative;
}

    .container-cart .main {
        width: 120px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: white;
        overflow: hidden;
    }

        .container-cart .main .bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: orange;
        }

.bg {
    animation: bgAnim linear 10s;
    animation-iteration-count: infinite;
    transform-origin: 0 50%;
}

.container-cart .main .text {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.text {
    animation: textAnim linear 10s;
    animation-iteration-count: infinite;
    transform-origin: 0 50%;
}

.container-cart .fa-caret-up {
    display: block;
    animation: caretAnim linear 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 70%;
}

.container-cart .fa-caret-up {
    color: orange;
    position: absolute;
    top: -24px;
    font-size: 2.5em;
    left: 50%;
    transform: translateX(-50%);
}

.container-cart .fa-shopping-cart {
    display: block;
    animation: cartAnim linear 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

.container-cart .fa-shopping-cart {
    color: white;
    font-size: 1em;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-30deg);
    height: auto;
    width: auto;
    line-height: normal;
}

.fx-top {
    padding-top: 60px;
    position: relative;
    z-index: 30;
}

.cbo-usr-ifo:hover {
    z-index: 10;
}

    .cbo-usr-ifo:hover .usr-ifo-lst {
        visibility: visible;
        opacity: 1;
    }

a {
    color: #000;
    text-decoration: none;
}

input:focus, textarea:focus {
    outline: 0;
}

.cnt-fter {
    background: #ebebeb;
    padding: 20px 0;
    clear: both;
}

.is-footer-scroll .wrap .ctnr {
    width: 1024px;
}

.cnt-fter .lft-ft {
    width: 1000px;
}


.cpr-fter {
    padding: 33px 0 23px;
    background: #fff;
}

.cnt-fter .ftr-col {
    margin-right: 100px;
}

.cnt-fter .ftr-col {
    float: left;
}

    .cnt-fter .ftr-col .ftr-col-head {
        margin: 2px 0 13px;
        color: #333;
        font-size: 18px;
        line-height: 30px;
    }

    .cnt-fter .ftr-col .ctr-col-cnt a {
        display: block;
        color: #333;
        font-size: 13px;
        line-height: 28px;
    }


#midpanelHeader {
    font-size: 18pt;
    color: blue;
    border-bottom: solid grey 1px;
}

.product-item .wrap-cell-center {
    display: table;
    width: 100%;
}

.product-item .thumb-product {
    position: relative;
    margin-bottom: 3px;
}

#midpanel {
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    padding-top: 20px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.product-item .bottom-action .iPlus {
    vertical-align: 2px;
    margin-right: 4px;
}

.iPlus {
    width: 06px;
    height: 06px;
    background-position: -40px 0;
}

.icon {
    background: transparent url(images/sprites.png?v=1.1121989) no-repeat;
    border: none;
    display: inline-block;
}

.btn.btn-green {
    background: #73B52E;
    border-color: #73B52E;
    color: #FFFFFF;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ebe7e7;
    background: #efefef;
    text-align: center;
    padding: 7px 6px;
    margin: 0;
    line-height: normal;
}

.product-item .bottom-action a:first-child {
    margin-right: 2px;
}

.product-item .bottom-action a {
    float: left;
}

.list-type-item {
}

.product-item {
    float: left;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 55px;
}

.fw-b {
    font-weight: bold;
    font-size: 1.166666666666667em;
}

.product-price {
    padding-bottom: 8px;
}

.product-name {
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    cursor: pointer;
}
