﻿<div id="shoppingCartElement">
    <div class="cart-body">
        <i class="icon-cart"></i>
        <h2>Giỏ hàng của bạn hiện đang trống</h2>
        <p>Hãy nhanh tay sở hữu những sản phẩm yêu thích của bạn</p>
        <a href="/" class="adr bg-red large button cart-purchase-button">Tiếp tục mua sắm&nbsp;<img src="/images/icon_image/nav-right.png" alt=""></a>

    </div>
</div>
<style type="text/css">
    .cart.no-product .cart-body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.cart .cart-body {
    padding: 0;
    position: relative;
}
.cart.no-product .icon-cart {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-image: url(../Content/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
    background-position: -47px -378px;
}
#shoppingCartElement{
    display: block;
    position: absolute;
    height: 100%;
    float: right;
    width: 500px;
    z-index:9999;

}
</style>
